body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #e1d4d1;
}
.sidebar {
    width: 20%;
    height: 200px;
    padding: 50px 10px 30px 10px;
    background-color: #dbcbc7;
    display: inline-block;
}

.sidebar a{
    text-decoration: none;
    color: #693835 ;
    margin-left: 10.5px;
    padding: 12.2px;
    font-size: larger;
}

.sidebar a:hover{
    border: 2px solid #693835 ;
}

.header{
    background-color: #693835 ;
    color: white;
    font-size: 30px;
    padding: 10px 3px 20px 3px;
    height: 200px;
    width: 80%;
    display: inline-block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 10px 10px #ab7467;
}

p{
    width: 100%;
    padding: 5.5px 0 0px 7px ;
    line-height: 30px;
    text-align: justify;
    color: #693835;
}

@media (max-width: 600px){ 
    .sidebar, .header, .content {
        width: 100% !important;
        height: auto;
    }
}

@media (max-width: 800px){ 
    .sidebar  {
        width: 50% !important;
        height: auto;
    }
    .header {
        width: 50% !important;
        height: auto;
    }
}